.wrapper {
    column-count: 3;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .wrapper {
        column-count: 2;
        max-width: 500px;
    }
}

@media (max-width: 400px) {
    .wrapper {
        column-count: 1;
    }
}

.item {
    width: 100%;
}

.item:nth-child(n+2) {
    margin-top: 20px;
}

.item img {
    width: 100%;
    height: auto;
    vertical-align: top;
}